@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
				padding: 0;
				margin: 0;
				border: 0;
}

*, *:before, *:after {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
}

:focus, :active {
				outline: none;
}

a:focus, a:active {
				outline: none;
}

nav, footer, header, aside {
				display: block;
}

html, body {
				height: 100%;
				width: 100%;
				font-size: 100%;
				line-height: 1;
				font-size: 14px;
				-ms-text-size-adjust: 100%;
				-moz-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
}

input, button, textarea {
				font-family: inherit;
}

input::-ms-clear {
				display: none;
}

button {
				cursor: pointer;
}

button::-moz-focus-inner {
				padding: 0;
				border: 0;
}

a, a:visited {
				text-decoration: none;
}

a:hover {
				text-decoration: none;
}

ul li {
				list-style: none;
}

img {
				vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
				font-weight: 400;
}

body {
				background: url("https://www.fg-a.com/wallpapers/white-background-diamond-plate-th.jpg");
}

.container {
				padding: 0px 10px 5px;
				background: rgb(222, 222, 222);
				max-width: 1400px;
				margin: 0px auto;
				height: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
}

.top {
				margin: 0px 0px 25px;
				border-radius: 0px 0px 30px 30px;
				padding: 0px 5px 10px;
				background: #feccb1;
				background: -webkit-gradient(linear, left top, left bottom, from(#feccb1), color-stop(0%, #f17432), color-stop(100%, #ea5507), to(#fb955e));
				background: -o-linear-gradient(top, #feccb1 0%, #f17432 0%, #ea5507 100%, #fb955e 100%);
				background: linear-gradient(to bottom, #feccb1 0%, #f17432 0%, #ea5507 100%, #fb955e 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#feccb1", endColorstr="#fb955e",GradientType=0 );
}
.top__title {
				font-size: 40px;
				text-align: center;
				margin: 0px 0px 5px;
}
.top__text {
				text-align: center;
				font-size: 25px;
}

.image-slider {
				height: 800px;
				padding: 30px 0 70px 0;
}
.image-slider__image {
				text-align: center;
}
.image-slider__image img {
				max-width: 100%;
				max-height: 800px;
}

.swiper-button-prev {
				color: #ea5507;
				-webkit-transition: all 0.1s linear;
				-o-transition: all 0.1s linear;
				transition: all 0.1s linear;
}
.swiper-button-prev:hover {
				color: #f17432;
}
.swiper-button-prev:active {
				color: #000;
}

.swiper-button-next {
				color: #ea5507;
				-webkit-transition: all 0.1s linear;
				-o-transition: all 0.1s linear;
				transition: all 0.1s linear;
}
.swiper-button-next:hover {
				color: #f17432;
}
.swiper-button-next:active {
				color: #000;
}

.main {
				min-width: 0;
}
.main__slider {
				min-width: 0;
				/* 		width: 1000px;
						height: 499px; */
}
.main__text {
				text-align: center;
				font-size: 25px;
				margin: 0px 0px 10px;
}
.main__button {
				margin: 0px auto;
				margin: 0px 0px 15px;
}
.main__table {
				text-align: center;
				float: middle;
				clear: both;
}

table, th, td {
				float: middle;
				clear: both;
				font-size: 30px;
				border: 1px solid #000;
}

table {
				width: 100%;
}

.button__text {
				width: 200px;
				height: 50px;
				padding: 6px 0px 0px;
				text-align: center;
				font-size: 30px;
				-webkit-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				transition: all 0.2s linear;
				border-radius: 30px;
				border: 3px solid rgb(0, 0, 0);
				margin: 0px auto;
				background: rgb(219, 3, 3);
				color: rgb(255, 255, 255);
}
.button__text:hover {
				background: rgb(138, 138, 138);
				color: rgb(219, 3, 3);
				border: 2px solid rgb(219, 3, 3);
}
.button__text:active {
				background: rgb(73, 73, 73);
				color: rgb(218, 83, 83);
}