@import "null.style.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@mixin bg-Gradient1 {
	background: rgb(178,225,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgb(178,225,255) 0%, rgb(102,182,252) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(178,225,255) 0%,rgb(102,182,252) 100%);
	background: radial-gradient(ellipse at center,  rgb(178,225,255) 0%,rgb(102,182,252) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 );
	border: 1px solid #000;
}
@mixin bg-Gradient2{
	background: #ff0000;
	background: -moz-radial-gradient(center, ellipse cover,  #ff0000 0%, #6cff5b 13%, #3affee 28%, #ff3ae4 43%, #3a47ff 65%, #ffff00 99%);
	background: -webkit-radial-gradient(center, ellipse cover,  #ff0000 0%,#6cff5b 13%,#3affee 28%,#ff3ae4 43%,#3a47ff 65%,#ffff00 99%);
	background: radial-gradient(ellipse at center,  #ff0000 0%,#6cff5b 13%,#3affee 28%,#ff3ae4 43%,#3a47ff 65%,#ffff00 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffff00',GradientType=1 );
}
@mixin bg-Gradient3{
	background: #f6e6b4;
	background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%);
	background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%);
	background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 );
}

body {
  // background-color: cyan;
	background: url("https://www.fg-a.com/wallpapers/white-background-diamond-plate-th.jpg");
}

.content {

}
.container {
	padding: 0px 10px 5px;
	@include bg-Gradient3 ;


  max-width: 1440px;
  margin: 0px auto;
  height: 100%;
	display: flex;
	flex-direction: column;
	// min-width: 0;
}
.top {
	margin:0px 0px 25px;
	border-radius: 0px 0px 30px 30px;
	padding: 0px 5px 10px;
	@include bg-Gradient1 ;

  &__title {
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 5px;
  }

  &__text {
    text-align: center;
    font-size: 25px;
  }


}


.image-slider {
	height: 680px;
	// padding: 50px 0px 50px 0px ;
	// border: 1px solid #000;
	border-radius: 30px;
	margin: 0px 0px 20px;
	@include bg-Gradient1 ;

	

	&__wrapper {
	}

	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		text-align: center;
		& img{
			max-width: 100%;
			max-height:600px;
		}
	}
}

.swiper-pagination {
	&-bullet{
		width: 15px;
		height: 15px;
		font-size: 24px;
		background-color: rgb(255, 255, 255);
	}
	bottom: 0;
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}

@mixin theme($fz: 60px) {
	color: #fae9e0;
	&:hover{
		color: #ffaa7c ;
	}
	&:active{
		color: #000;
	}
	transition: all 0.1s linear;
	&::after{
		font-size: $fz;
	}
}

.swiper-button-prev {
	@include theme;
}
.swiper-button-next {
	@include theme;
}


.main {
	min-width: 0;

	&__slider{
		min-width: 0;
/* 		width: 1000px;
		height: 499px; */
	}

  &__text {
		padding: 5px 0px 5px;
		text-align: center;
		font-size: 25px;
		margin:20px 0px 20px;
		border-radius: 30px;
		@include bg-Gradient1 ;
  }

  &__button {
	display: flex;
	justify-content: center;
		margin:0px 0px 15px;
  }

  &__table {
		text-align: center;
		float: middle;
		clear: both;
  }
	&__content {
		margin: 0px auto;
	}

	&__foto {
		margin: 0px auto;
		max-height: 1000px;
		width: 100%;
		border-radius: 30px;
	}
}

.button {
	&__body{
		border-radius: 30px;
	}
	
  &__text {
		display: inline-block;
		width: 200px;
		height: 50px;

		padding: 6px 0px 0px;
		text-align: center;
		font-size: 30px;
		transition: all 0.2s linear;
		border-radius: 30px;

		border: 3px solid rgb(0, 0, 0);
		margin: 0px auto;
		background: rgb(219, 3, 3);
		color: rgb(255, 255, 255);
			&:hover{
				background: rgb(138, 138, 138);
				color: rgb(219, 3, 3);
				border: 2px solid rgb(219, 3, 3);
			}
			&:active{
				background: rgb(73, 73, 73);
				color: rgb(218, 83, 83)
  }
}
}


th, td {
	@include bg-Gradient1 ;
	float: middle;
	clear: both;
	font-size: 25px;
	border: 12px solid rgba(0, 0, 0, 0);
	// border-radius: 30px;
	padding: 10px 0px;
}
th{
	// border-radius: 30px;
}
tr{

}

table{
	width: 100%;
	margin: 0px 0px 10px;
	border: 5px solid rgba(0, 0, 0, 0);
	border-radius: 30px;
	@include bg-Gradient2;
}

.table {

	&__block {

		&_left-top {
			border-radius: 30px 0px 0px 0px;
		}

		&_right-top {
			border-radius: 0px 30px 0px 0px;
		}

		&_left-bottom {
			border-radius: 0px 0px 0px 30px;
		}

		&_right-bottom {
			border-radius: 0px 0px 30px 0px;
		}
	}
}

