@import "null.style.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  // background-color: cyan;
	background: url("https://www.fg-a.com/wallpapers/white-background-diamond-plate-th.jpg");
}

.content {

}
.container {
	padding: 0px 10px 5px;
	background: #f2f9fe;
background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );

	

  max-width: 1400px;
  margin: 0px auto;
  height: 100%;
	display: flex;
	flex-direction: column;
	// min-width: 0;
}
.top {
	margin:0px 0px 25px;
	border-radius: 0px 0px 30px 30px;
	padding: 0px 5px 10px;
	background: #feccb1;
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 0%, #ea5507 100%, #fb955e 100%);
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 0%,#ea5507 100%,#fb955e 100%);
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 0%,#ea5507 100%,#fb955e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );

  &__title {
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 5px;
  }

  &__text {
    text-align: center;
    font-size: 25px;
  }
}

.image-slider {
	height: 680px;
	// padding: 50px 0px 50px 0px ;
	// border: 1px solid #000;
	border-radius: 30px;
	margin: 0px 0px 40px;


	background: #feccb1;
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 0%, #ea5507 100%, #fb955e 100%);
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 0%,#ea5507 100%,#fb955e 100%);
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 0%,#ea5507 100%,#fb955e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );


	&__wrapper {
	}

	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		text-align: center;
		& img{
			max-width: 100%;
			max-height:600px;
		}
	}
}

.swiper-pagination {
	&-bullet{
		width: 15px;
		height: 15px;
		font-size: 24px;
		background-color: rgb(255, 255, 255);
	}
	bottom: 0;
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}

@mixin theme($fz: 60px) {
	color: #fae9e0;
	&:hover{
		color: #ffaa7c ;
	}
	&:active{
		color: #000;
	}
	transition: all 0.1s linear;
	&::after{
		font-size: $fz;
	}
}

.swiper-button-prev {
	@include theme;
}
.swiper-button-next {
	@include theme;
}


.main {
	min-width: 0;

	&__slider{
		min-width: 0;
/* 		width: 1000px;
		height: 499px; */
	}

  &__text {
		text-align: center;
		font-size: 25px;
		margin:0px 0px 10px;
  }

  &__button {
		margin: 0px auto;
		margin:0px 0px 15px;
  }

  &__table {
		text-align: center;
		float: middle;
		clear: both;
  }
}


table, th, td {
	float: middle;
	clear: both;
	font-size: 30px;
	border: 1px solid #000;
}

table{
	width: 100%;
}

.button {
  &__text {
		width: 200px;
		height: 50px;

		padding: 6px 0px 0px;
		text-align: center;
		font-size: 30px;
		transition: all 0.2s linear;
		border-radius: 30px;

		border: 3px solid rgb(0, 0, 0);
		margin: 0px auto;
		background: rgb(219, 3, 3);
		color: rgb(255, 255, 255);
			&:hover{
				background: rgb(138, 138, 138);
				color: rgb(219, 3, 3);
				border: 2px solid rgb(219, 3, 3);
			}
			&:active{
				background: rgb(73, 73, 73);
				color: rgb(218, 83, 83)
  }
}
}